aerc/.config/aerc/accounts.conf

newsboat/.config/newsboat/cache.db*

nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugged/*
nvim/.config/nvim/ftplugin/*

polybar/.config/polybar/gmail/credentials.json

tmux/.config/tmux/plugins/tmux-sensible/

vdirsyncer/.config/vdirsyncer/status/*
vdirsyncer/.config/vdirsyncer/auth

zsh/.config/antigen/
zsh/.config/**/.zcompdump
zsh/.config/**/*.zwc
zsh/.config/zsh/history
zsh/.fzf/
