[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "polybar/.config/polybar/polystock"]
	path = polybar/.config/polybar/polystock
	url = git@github.com:zack-ashen/polystock.git
