aerc/.config/aerc/accounts.conf

nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugged/*
nvim/.config/nvim/plugin/
nvim/.config/nvim/ftplugin/*
nvim/.config/nvim/lazy/*
nvim/.config/nvim/lazy-lock.json

polybar/.config/polybar/gmail/credentials.json

tmux/.config/tmux/plugins/*

vdirsyncer/.config/vdirsyncer/status/*
vdirsyncer/.config/vdirsyncer/auth

zsh/.config/antigen/
zsh/.config/**/.zcompdump
zsh/.config/**/*.zwc
zsh/.config/zsh/history
zsh/.fzf/
